.tela-inteira {
    flex-grow: 1;
    padding: 60px;
    align-items: center; 
    background-color: transparent;
}

.tela-inteira Label {
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/alagard.ttf");
}

.titulo-container { 
    position: relative; 
    height: 100px; 
    margin-bottom: 20px; 
    align-self: center; 
}

.titulo-tela { 
    font-size: 100px; 
    -unity-font-style: bold; 
    margin: 0; 
    padding: 0; 
    white-space: nowrap; 
    -unity-text-align: middle-center; 
}

.titulo-cinza { 
    color: #444444; 
}

.mascara { 
    position: absolute; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    width: 0%; 
    overflow: hidden;
}

.colorido {
    color: rgba(0, 255, 102, 1); 
    position: absolute; 
    left: 0; 
    top: 0; 
}

.janela-rolagem {
    width: 70%; 
    align-self: center; 
    flex-grow: 1; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.janela-rolagem .unity-scroller--vertical {
    position: absolute;
    right: -20px; 
    height: 100%;
}

.conteudo-rolagem {
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 80px; 
}

.categoria-header {
    font-size: 65px;
    color: rgba(0, 255, 102, 1);
    -unity-font-style: bold;
    margin-top: 70px;
    margin-bottom: 30px;
    letter-spacing: 5px; 
}

.bloco-credito {
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin-bottom: 50px; 
    width: 100%;
}

.texto-cargo {
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/alagard.ttf");
    font-size: 50px; /* Um pouco menor para dar destaque ao nome */
    color: #AAAAAA; 
    margin-bottom: -15px; /* Puxa o nome para mais perto do cargo */
    white-space: normal; 
    -unity-text-align: middle-center;
    -unity-text-outline-width: 2px;
    -unity-text-outline-color: rgba(0, 0, 0, 1);
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.8);
}

.texto-nome {
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/alagard.ttf");
    font-size: 85px; 
    -unity-font-style: bold;
    white-space: normal; 
    -unity-text-align: middle-center;
    -unity-text-outline-width: 3px;
    -unity-text-outline-color: rgba(0, 0, 0, 1);
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
}

.texto-asset {
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/alagard.ttf");
    font-size: 65px; 
    color: #FFFFFF;
    -unity-font-style: bold;
    white-space: normal; 
    -unity-text-align: middle-center;
    -unity-text-outline-width: 3px;
    -unity-text-outline-color: rgba(0, 0, 0, 1);
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
}

.cor-verde { 
    color: #32CD32; 
}

.cor-amarela { 
    color: #FFD700; 
}

.cor-vermelha { 
    color: #FF3333; 
}

.cor-azul { 
    color: #00BFFF; 
}

.espacador-fim {
    height: 500px; 
}

.botao-menu {
    position: absolute; 
    bottom: 40px;       
    left: 50px;       
    background-color: transparent;
    border-width: 0;
    padding: 0;
}

.texto-botao { 
    font-size: 65px; 
    color: #888888; 
    -unity-font-style: bold; 
    padding-bottom: 5px; 
    transition-duration: 0.2s; 
}

.linha-inferior { 
    height: 6px; 
    width: 0%; 
    background-color: #FF3333; 
    transition-property: width, 
    translate; transition-duration: 0.2s, 0.2s; 
}

.botao-menu:hover .texto-botao, .botao-menu:focus .texto-botao { 
    color: #FFFFFF; 
    translate: 10px 0; 
}

.botao-menu:hover .linha-inferior, .botao-menu:focus .linha-inferior { 
    width: 100%; 
    translate: 10px 0; 
}

.janela-rolagem .unity-scroller__low-button,
.janela-rolagem .unity-scroller__high-button {
    display: none;
}

.janela-rolagem .unity-base-slider__tracker {
    background-color: transparent;
    border-width: 0;
}

.janela-rolagem .unity-base-slider__dragger {
    background-color: rgba(0, 255, 255, 0.3); 
    border-radius: 4px;
    width: 8px; 
    left: 4px; 
    border-width: 0;
    transition-duration: 0.2s;
}

.janela-rolagem .unity-base-slider__dragger:hover {
    background-color: rgba(0, 255, 102, 1);
    width: 10px; 
}