.tela-inteira {
    flex-grow: 1;
    padding: 60px;
    align-items: center; 
    justify-content: space-between; 
}

.titulo-creditos {
    font-size: 80px;
    color: white;
    -unity-font-style: bold;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.6); 
}

.container-equipe {
    align-items: center; 
}

.texto-cargo {
    font-size: 46px;
    color: white;
    -unity-font-style: bold;
    margin-top: 40px; 
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
}

.texto-nome {
    font-size: 46px;
    -unity-font-style: bold;
    margin-top: 5px; 
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.9); 
}

.cor-verde { color: #32CD32; }   
.cor-amarela { color: #FFD700; } 
.cor-vermelha { color: #FF3B30; } 
.cor-azul { color: #3388FF; }    

.botao-voltar {
    margin-top: 50px;
    font-size: 46px;
    color: black;
    background-color: #FDF9EB; 
    padding: 15px 50px;
    border-radius: 12px;
    border-left-width: 8px;
    border-bottom-width: 6px;
    border-top-width: 0;
    border-right-width: 0;
    border-color: #D6D0B9;
    -unity-font-style: bold;
    transition-duration: 0.15s;
}

.botao-voltar:hover {
    background-color: #FFFFFF;
    scale: 1.05; 
}