.tela-inteira {
    flex-grow: 1;
    align-items: center;
    justify-content: center; 
    background-color: transparent; 
}

.titulo-container {
    position: relative;
    align-self: center; 
}

.titulo-fundo {
    font-size: 150px; 
    color: #444444; 
    -unity-font-style: bold;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.mascara {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%; 
    overflow: hidden; 
}

.titulo-frente {
    font-size: 150px; 
    -unity-font-style: bold;
    margin: 0;
    padding: 0;
    white-space: nowrap; 
    position: absolute;
    top: 0;
    left: 0;
}

.prompt-text {
    font-size: 65px;
    color: #DDDDDD;
    margin-top: 80px; 
    letter-spacing: 5px;
    -unity-font-style: bold;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
}