/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Logs]/
/[MemoryCaptures]/

# Assets gerados automaticamente
Assets/AssetStoreTools*

# Arquivos de solução do Visual Studio/Rider
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Arquivos do Sistema
.DS_Store
Thumbs.db