.tela-inteira {
    flex-grow: 1;
    padding: 120px;
    background-color: transparent; 
    align-items: center;    
    justify-content: center; 
    transition-property: opacity;
    transition-duration: 0.6s;
}

.tela-escondida {
    opacity: 0;
}

.titulo-container {
    position: relative;
    align-self: center; 
    margin-top: 80px; 
}

.titulo-jogo {
    font-size: 150px;
    -unity-font-style: bold;
    margin: 0;
    padding: 0;
    white-space: nowrap; 
    -unity-text-align: middle-center;  
    -unity-text-outline-width: 4px;
    -unity-text-outline-color: rgba(0, 0, 0, 1);
    text-shadow: 8px 8px 0px rgba(0, 0, 0, 0.8);  
}

.titulo-cinza {
    font-size: 160px; 
    color: #444444; 
    -unity-font-style: bold;
    margin: 0; padding: 0; white-space: nowrap;
}

.mascara {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%; 
    overflow: hidden;
}

.colorido {
    font-size: 160px; 
    -unity-font-style: bold;
    margin: 0; 
    padding: 0; 
    white-space: nowrap; 
    position: absolute; 
    top: 0; 
    left: 0;
    -unity-text-outline-width: 4px;
    -unity-text-outline-color: rgba(0, 0, 0, 1);
}

.area-central {
    flex-direction: row;
    flex-grow: 1;
    align-items: flex-start; 
}

.container-botoes {
    align-items: center; 
    margin-top: 80px; 
}

.botoes-escondidos {
    translate: -150px 0; 
    opacity: 0;
}

.botao-menu {
    background-color: transparent; 
    border-width: 0;
    padding: 0;
    margin-bottom: 30px;
    align-self: center;
    align-items: center;
    justify-content: center;
} 

.texto-botao {
    font-size: 80px; 
    color: #888888; 
    -unity-font-style: bold;
    transition-duration: 0.2s;
    -unity-text-outline-width: 3px;
    -unity-text-outline-color: rgba(0, 0, 0, 1);
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
}

.linha-inferior {
    position: absolute; 
    bottom: -10px; 
    height: 6px; 
    width: 120%; 
    background-color: #FF3333; 
    scale: 0 1; 
    transition-property: scale; 
    transition-duration: 0.2s;
}

.botao-menu:hover .texto-botao{
    color: #FFFFFF; 
}

.botao-menu:hover .linha-inferior {
    scale: 1 1;
}

.painel-vidro {
    width: 75%;
    height: 70%;
    background-color: rgba(15, 23, 42, 0.85); 
    border-radius: 20px;
    overflow: hidden;
}