.tela-inteira {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.container-central {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.titulo-container {
    position: relative;
    height: 100px;
    margin-bottom: 30px;
    align-self: center;
}

.titulo-tela {
    font-size: 80px; 
    -unity-font-style: bold;
    margin: 0; padding: 0; white-space: nowrap;
}

.titulo-cinza {
    color: #444444; 
}

.mascara {
    position: absolute; top: 0; left: 0; bottom: 0; width: 0%; overflow: hidden;
}

.colorido-ciano {
    color: #00FFFF; 
    position: absolute; left: 0; top: 0;
    text-shadow: 0px 0px 10px rgba(0, 255, 102, 1);
}

.barra-progresso-container {
    width: 900px;
    max-width: 90%; 
    height: 40px; 
    min-height: 40px; 
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 20px;
    border-width: 3px; 
    border-color: rgba(0, 255, 102, 1); 
    margin-top: 20px;
    margin-bottom: 40px; 
    overflow: hidden; 
    flex-shrink: 0;
}

.barra-preenchimento-neon {
    height: 100%;
    width: 0%; 
    background-color: rgba(0, 255, 102, 1); 
    border-radius: 16px; 
}

.prompt-carregamento {
    font-size: 45px; 
    color: #FFD700; 
    -unity-font-style: bold;
    -unity-text-align: middle-center;
    transition-property: opacity;
    transition-duration: 0.5s;
}

.oculto {
    opacity: 0;
}