.tela-inteira {
    flex-grow: 1;
    padding: 60px;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.8); 
}

.titulo-tela {
    font-size: 80px;
    color: white;
    -unity-font-style: bold;
    margin-top: 20px;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.6);
}

.carrossel-fases {
    flex-grow: 1; 
    width: 100%;  
    margin-top: 50px;    
    margin-bottom: 30px; 
}

.bandeja-fases {
    flex-direction: row;      
    align-items: center;      
    height: 100%;             
    padding-left: 100px;  
    padding-right: 100px; 
}

.cartao-fase {
    width: 480px;        
    height: 85%;         
    margin: 0 40px;      
    border-radius: 35px; 
    background-color: #808080;
    justify-content: flex-end; 
    padding-bottom: 60px; 
    border-color: #555555;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 20px; 
    overflow: hidden;
    transition-property: scale, translate, border-color;
    transition-duration: 0.2s, 0.2s, 0.3s;
    position: relative;
    flex-shrink: 0; 
}

.cartao-fase:hover {
    scale: 1.05; 
    translate: 0 -20px; 
}

.cartao-fase:hover .cor-preenchimento{
    height: 100%;
}

.texto-fase {
    position: relative;
    font-size: 65px; 
    color: white;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
    white-space: normal; 
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.4); 
}

.cor-preenchimento { 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%; 
    transition-property: height;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.bg-verde { 
    background-color: #4CAF50; 
}

.bg-vermelha { 
    background-color: #F44336; 
}

.bg-amarela { 
    background-color: #FFC107; 
}

.tema-verde .cor-preenchimento { background-color: #4CAF50; }
.tema-verde:hover { border-color: #2E7D32; }

.tema-vermelho .cor-preenchimento { background-color: #F44336; }
.tema-vermelho:hover { border-color: #C62828; }

.tema-amarelo .cor-preenchimento { background-color: #FFC107; }
.tema-amarelo:hover { border-color: #FFC40C; }

.botao-voltar {
    align-self: flex-start; 
    font-size: 50px;
    padding: 25px 80px;    
    margin-left: 50px;      
    margin-bottom: 30px;
    color: black;
    background-color: #FDF9EB;
    padding: 15px 50px;
    border-radius: 8px;
    border-left-width: 8px;
    border-bottom-width: 6px;
    border-top-width: 0;
    border-right-width: 0;
    border-color: #D6D0B9;
    -unity-font-style: bold;
    transition-duration: 0.15s;
}

.botao-voltar:hover {
    background-color: #FFFFFF;
    scale: 1.05;
}