.tela-inteira {
    flex-grow: 1;
    padding: 60px;
    justify-content: flex-start; 
    background-color: rgba(0, 0, 0, 0.8);
}

.titulo-tela {
    font-size: 70px;
    color: white;
    -unity-font-style: bold;
    margin-bottom: 40px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.6);
}

.layout-duas-colunas {
    flex-direction: row; 
    flex-grow: 1;        
}

/* Classes da Sidebar com os botões */
.sidebar {
    width: 500px;
    margin-right: 40px; 
}

.botao-menu {
    font-size: 40px;
    color: black;
    background-color: #FDF9EB;
    padding: 15px 20px;
    margin-bottom: 25px;
    border-radius: 8px;
    border-left-width: 8px;
    border-bottom-width: 6px;
    border-top-width: 0;
    border-right-width: 0;
    border-color: #D6D0B9;
    -unity-font-style: bold;
    transition-duration: 0.15s;
}

.botao-menu:hover {
    background-color: #FFFFFF;
    translate: 10px 0;
}

.botao-ativo {
    background-color: #FFD700; 
    border-color: #B89C00;
    translate: 15px 0; 
}

.botao-menu.botao-ativo {
    background-color: #FFD700; 
    border-color: #B89C00;
    translate: 15px 0; 
}

.botao-menu.botao-ativo:hover {
    background-color: #FFEA70; 
}


/* Classes da Aba Lateral Gerais */
.painel-conteudo {
    flex-grow: 1; 
    background-color: rgba(30, 50, 90, 0.85); 
    border-radius: 12px;
    padding: 60px;
}

.titulo-aba {
    font-size: 70px;
    color: white;
    align-self: center;
    -unity-font-style: bold;
    margin-bottom: 60px;
}

.linha {
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    margin-bottom: 40px;
}

.labels {
    width: 300px; 
    font-size: 50px;
    color: white;
    -unity-font-style: bold;
}

.botao-reset {
    width: 600px;
    align-self: center;
    margin-top: 50px;
    font-size: 42px;
    color: black;
    background-color: #FDF9EB; 
    padding: 15px 50px;
    border-radius: 12px;
    border-left-width: 8px;
    border-bottom-width: 6px;
    border-top-width: 0;
    border-right-width: 0;
    border-color: #D6D0B9;
    -unity-font-style: bold;
    transition-duration: 0.15s;
}

.botao-reset:hover {
    background-color: #FFFFFF;
    scale: 1.05; 
}


/* Classes da Aba Áudio */
.meu-slider {
    width: 450px;
}

.meu-slider-rastro {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #FFEA70;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transition-duration: 0.1s; 
    transition-property: width;
}

.unity-base-slider__input {
    overflow: visible;
}

.unity-base-slider__tracker {
    background-color: #2A2A2A;
    height: 20px;
    border-radius: 10px;
    border-width: 0;
    margin-top: 0;
    margin-bottom: 0;
    top: 50%;
}

.unity-base-slider__dragger {
    width: 40px;
    height: 40px;
    margin-top: -10px;    
    border-radius: 20px;
    background-color: #FFD700;
    border-width: 0;
    z-index: 1;
}

.valor-slider {
    font-size: 50px;
    color: #FFD700; 
    -unity-font-style: bold;
    margin-left: 20px; 
    width: 80px;
}


/* Classes da Aba Controles */

.aba-container {
    flex-grow: 1;
    padding: 20px;
}

.scroll-controles {
    flex-grow: 1;
}

.linha-controle {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 15px 30px; 
    border-radius: 10px;
}

.tecla-wrapper-direita {
    width: 180px;
    height: 160px;
    justify-content: center;
    align-items: center;
}

.tecla-container {
    width: 120px;
    height: 120px;
    -unity-background-scale-mode: scale-to-fit;
}

.tecla-container-larga {
    width: 180px; 
    height: 160px;
    -unity-background-scale-mode: scale-to-fit;
}

.texto-acao {
    color: white;
    font-size: 50px;
    -unity-font-style: bold;
    letter-spacing: 1px;
}

/* Classes da Aba Gráficos */
.dropdown-graficos {
    width: 500px;
    height: 60px;
    margin-bottom: 25px;
    font-size: 18px;
    color: white;
}

.dropdown-graficos .unity-base-field__input {
    background-color: #3C4B64;
    border-color: #FFD700;
    border-radius: 5px;
    padding: 8px;
}

.unity-base-dropdown__container-inner {
    background-color: #1A212E;
    border-color: #FFD700;
}

.unity-base-dropdown__item:hover {
    background-color: #FFD700;
    color: #1A212E;
}

.dropdown-graficos .unity-base-popup-field__text {
    font-size: 24px; 
    -unity-font-style: bold;
    color: white;
    padding-left: 10px;
}

.unity-base-dropdown__item .unity-base-dropdown__label {
    font-size: 22px;
    color: white;
    padding: 8px;
}
