.tela-cheia {
    flex-grow: 1;
    justify-content: center; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.banner-anuncio {
    width: 100%; 
    background-color: rgba(30, 40, 55, 0.95);
    
    border-top-width: 12px;
    border-bottom-width: 12px;
    border-color: #FFD700; 
    
    padding-top: 30px;
    padding-bottom: 50px;
    
    align-items: center; 
    
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.texto-fase {
    font-size: 60px;
    color: #A0C0D0;
    -unity-font-style: bold;
    margin-bottom: -15px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8);
}

.texto-gigante {
    font-size: 120px;
    color: white;
    -unity-font-style: bold;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.8); 
    transition-duration: 0.2s; 
}