.tela-cheia {
    flex-grow: 1;
    justify-content: center; 
    align-items: center; 
    background-color: transparent; 
}

.banner-anuncio {
    width: 100%; 
    background-color: rgba(15, 23, 42, 0.85); 
    
    border-top-width: 8px; 
    border-bottom-width: 8px;
    border-left-width: 0;
    border-right-width: 0;
    border-color: #FFFFFF; 
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center; 
}

.texto-fase {
    font-size: 70px;
    color: #FFFFFF;
    -unity-font-style: bold;
    margin-bottom: -15px;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 1); 
}

.texto-gigante {
    font-size: 130px;
    color: #FFFFFF; 
    -unity-font-style: bold;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 1); 
    letter-spacing: 5px;
}