.tela-pause-fundo {
    flex-grow: 1;
    background-color: rgba(60, 75, 100, 0.85); 
    align-items: center;     
    justify-content: center;  
}

.titulo-pause {
    font-size: 70px;
    color: white;
    -unity-font-style: bold;
    margin-bottom: 50px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.botao-pause {
    width: 500px; 
    font-size: 35px;
    color: black;
    background-color: #FDF9EB;
    padding: 15px 20px;
    margin-bottom: 25px;
    border-radius: 8px;
    border-left-width: 8px;
    border-bottom-width: 6px;
    border-top-width: 0;
    border-right-width: 0;
    border-color: #D6D0B9;
    -unity-font-style: bold;
    transition-duration: 0.15s;
}

.botao-pause:hover,
.botao-pause:focus {
    background-color: #FFFFFF;
    scale: 1.05;
}